@import "tailwindcss";


@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-v24-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Gilroy', sans-serif;
}
.input {
  @apply w-full bg-[#0f1b1d] rounded-lg px-4 py-3 border border-[#1f2a2d] focus:outline-none focus:border-pink-500 transition;
}
