@import "tailwindcss";

@theme {
  --color-bg-body: #0f191e;
  --color-bg-nav: #111d22;
  --color-bg-div: #1a2b32;
  --color-bg-light: #29373d;

  --color-primary-blue: #37a2ea;
  --color-secondary-blue: #1086d5;
  --color-bg-blue: #17547d;

  --color-primary-green: #4ebd77;
  --color-secondary-green: #3a9c5e;
  --color-bg-green: #204e31;

  --color-primary-yellow: #f8dc61;
  --color-secondary-yellow: #bca319;
  --color-bg-yellow: #6d5d14;

  --color-sec-netral: #d9d9d9;
  --color-tertier-netral: #82949d;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Gilroy", sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f191e;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4ebd77 0%, #3a9c5e 100%);
  border-radius: 5px;
  border: 2px solid #0f191e;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5ed88a 0%, #4ebd77 100%);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #4ebd77 #0f191e;
}

.input {
  @apply w-full rounded-lg border border-[#1f2a2d] bg-[#0f1b1d] px-4 py-3 transition focus:border-pink-500 focus:outline-none;
}

/* embla carousel */
.embla {
   max-width: 80%;
  margin: auto;
  --slide-size: 100%;
  --slide-height: 20rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.5);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 9999px;;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-50%) scale(1.1);
}

.embla__button--prev {
  left: 1rem; /* jarak dari kiri */
}

.embla__button--next {
  right: 1rem; /* jarak dari kanan */
}

.embla__button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.embla__button__svg {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}
.embla__parallax {
  border-radius: 1.8rem;
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.embla__parallax__img {
  max-width: none;
  flex: 0 0 100%;;
  object-fit: cover;
}
