@import "tailwindcss";
@import "./carousel-banner.css";
@import "./toast.css";
@import "./scrollbar.css";

@theme {
  --color-bg-body: #0f191e;
  --color-bg-nav: #111d22;
  --color-bg-div: #1a2b32;
  --color-bg-light: #29373d;

  --color-primary-blue: #37a2ea;
  --color-secondary-blue: #1086d5;
  --color-bg-blue: #17547d;

  --color-primary-green: #4ebd77;
  --color-secondary-green: #3a9c5e;
  --color-bg-green: #204e31;

  --color-primary-yellow: #f8dc61;
  --color-secondary-yellow: #bca319;
  --color-bg-yellow: #6d5d14;

  --color-sec-netral: #d9d9d9;
  --color-tertier-netral: #82949d;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Gilroy", sans-serif;
}

.input {
  @apply w-full rounded-lg border border-[#1f2a2d] bg-[#0f1b1d] px-4 py-3 transition focus:border-pink-500 focus:outline-none;
}

/* Hide Scrollbar for Carousel */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
