/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f191e;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #37a2ea 0%, #3a9c5e 100%);
  border-radius: 5px;
  border: 2px solid #0f191e;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5ed88a 0%, #37a2ea 100%);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #37a2ea #0f191e;
}
